* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
}

.one {
    background-color: rgb(36,164,138);
}

.two {
    background-color: rgb(211,79,79);
}

.three {
    background-color: rgb(67,91,175);
}

.four {
    background-color: lightsalmon;
}